// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles 
// ::Media queries 
// ::State styles
// ::Debugs  



// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";

// @import "libs/flip";


/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }



// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
}

body { 
	color: $base-color;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	color: $action;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography"; 		


// Import form styles into the cascade (if required)
@import "libs/forms";			



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------

@import "libs/styles";