{% capture root_url %}
{{ site.root | strip_slash }}
{% endcapture %}

<!doctype html>
<html lang="en">

{% include head.html %}
<body class="wrapper">
{% include paginate.html %}
<div class="container">
    {{ content }}
</div>
<div id="bottom-pages">
    {% include paginate.html %}
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-774114-23']);
_gaq.push(['_setDomainName', 'thoughtworks.com']);
_gaq.push(['_trackPageview']);

_gaq.push(['_setAccount', 'UA-41328116-1']);
_gaq.push(['_setDomainName', 'thoughtworks.github.io']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script>
$(function() {
    setTimeout(function() {
        $("<span>&nbsp;</span>").appendTo(".cover");
    }, 100);
});
</script>
</html>
