{% block content %}
	<section class="table-of-contents">
  <div class="logo">
    <h1 id="title">P2</h1>
    <h4 id="subtitle">Magazine</h4>
    <h4 id="corp"><strong>Thought</strong>Works</h4>
  </div>
		<header class="cover"></header>
    <nav class="issues">
      <ul class="clearfix">
        <li class="active"><a href="http://distributedlife.github.io/p2">Issue 01, June 2013</a>
        <!-- <li class="pull-right"><a href="#">Older Issues</a>-->
        <li id="start-reading" class="pull-right"><a href="{{ model.articles.first.url }}">Start Reading &raquo;</a></li>
      </ul>
    </nav>
		<section class="issue-notes">
			<h1>A Word From The Editor</h1>
      <p>P2 or Pillar 2 within ThoughtWorks represents software excellence. P1 is sustainable business and P3, social justice. These three equally support ThoughtWorks. This magazine covers software excellence within ThoughtWorks. </p>
      <p>Software excellence evades definition. It’s easy to think of concise lines of code laid out like prose. But we didn’t want this magazine to be exclusively for those who think in code. ThoughtWorks is filled with testers, designers, innovators and analysts. We needed to push any definition further to consider the excellence that happens before we even consider the solution, through continuous design, integration, deployment and delivery.</p>
      <p>It was the 7th of May when we embarked on this project. Myself and Mike Gardiner talking about it over coffee. We decided we release monthly without regard for getting it ‘right’. We’ll release, get feedback, learn, improve before doing it all again. This lightweight, do, learn, adapt is at the core of how ThoughtWorks operates and comes to life in Big data ain’t so big while in Uncovering your data’s dark matter Jen Smith looks at the learning side.</p>

      <p>In order to learn we need feedback. So tell us what you think <a href="mailto:p2@thoughtworks.com">p2@thoughtworks.com</a></p>

      <p>Welcome to the inaugural issue of P2 magazine. <br />
      Ryan Boucher, Editor in Chief</p>
		</section>
    <section class="issue-notes">
      <h3><a href="{{ model.articles.first.url }}">Start Reading &raquo;</a></h3>
    </section>
	</section>
{% endblock %}
