<div class="container">
   {% include "author" %}
  	<section>
		<article>
         <header>
            <date>{{ model.modelDate }}</date>
            <h1>While the Frenchman's boats, then, were engaged in towing the ship one way</h1>
            <h3>Presently a breeze sprang up; Stubb feigned to cast off from the whale; hoisting his boats, the Frenchman soon increased his distance, while the Pequod slid in between him and Stubb's whale.</h3>
         </header>
         <div class="article-body">
            {% include "view_options" %}
   			<p>"He says, Monsieur, that he's very happy to have been of any service to us."</p>
   			<p>Hearing this, the captain vowed that they were the grateful parties (meaning himself and mate) and concluded by inviting Stubb down into his cabin to drink a bottle of Bordeaux.</p>
   			<p>"Thank him heartily; but tell him it's against my principles to drink with the man I've diddled. In fact, tell him I must go."</p>
   			<blockquote>
               <p>"He says, Monsieur, that his principles won't admit of his drinking; but that if Monsieur wants to live another day to drink, then Monsieur had best drop all four boats."</p>
            </blockquote>
            <p>By this time Stubb was over the side, and getting into his boat, hailed the Guernsey-man to this effect,&mdash;that having a long tow-line in his boat, he would do what he could to help them, by pulling out the lighter whale of the two from the ship's side. While the Frenchman's boats, then, were engaged in towing the ship one way, Stubb benevolently towed away at his whale the other way, ostentatiously slacking out a most unusually long tow-line.</p>
   			<p>Presently a breeze sprang up; Stubb feigned to cast off from the whale; hoisting his boats, the Frenchman soon increased his distance, while the Pequod slid in between him and Stubb's whale. Whereupon Stubb quickly pulled to the floating body, and hailing the Pequod to give notice of his intentions, at once proceeded to reap the fruit of his unrighteous cunning. Seizing his sharp boat-spade, he commenced an excavation in the body, a little behind the side fin. You would almost have thought he was digging a cellar there in the sea; and when at length his spade struck against the gaunt ribs, it was like turning up old Roman tiles and pottery buried in fat English loam. His boat's crew were all in high excitement, eagerly helping their chief, and looking as anxious as gold-hunters.</p>
   			<p>And all the time numberless fowls were diving, and ducking, and screaming, and yelling, and fighting around them. Stubb was beginning to look disappointed, especially as the horrible nosegay increased, when suddenly from out the very heart of this plague, there stole a faint stream of perfume, which flowed through the tide of bad smells without being absorbed by it, as one river will flow into and then along with another, without at all blending with it for a time.</p>
         </div>
         <footer>
            <h5>SHARE THIS</h5> 
            <a href="#"><img src="/assets/img/facebook.png"></a>
            <a href="#"><img src="/assets/img/googleplus.png"></a>
            <a href="#"><img src="/assets/img/email.png"></a>
            <a href="#"><img src="/assets/img/linkedin.png"></a>
            <a href="#"><img src="/assets/img/twitter.png"></a>
         </footer>
		</article>
	</section>
</div>
