<div class="container">
   {% include "author" %}
  	<section>
		<article>
         {% if page.title %}
            <header>
               {% if page.date %}<date>{% include post/date.html %}{{ time }}</date>{% endif %>
               <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
               <h3>Presently a breeze sprang up; Stubb feigned to cast off from the whale; hoisting his boats, the Frenchman soon increased his distance, while the Pequod slid in between him and Stubb's whale.</h3>
            </header>
         {% endif %}
         <div class="article-body">
   		   {{ content }}
         </div>
         <footer>
            <h5>SHARE THIS</h5> 
            <a href="#"><img src="/assets/img/facebook.png"></a>
            <a href="#"><img src="/assets/img/googleplus.png"></a>
            <a href="#"><img src="/assets/img/email.png"></a>
            <a href="#"><img src="/assets/img/linkedin.png"></a>
            <a href="#"><img src="/assets/img/twitter.png"></a>
         </footer>
		</article>
	</section>
</div>
