<aside class="left-column clearfix">
   <div class="author">
      {% for author in model.authors %}
      <div>
         <a href="#">
            <img class="author-avatar" src="/assets/img/{{ author.avatar }}"/>
         </a>
         <div>{{ author.name }}</div>
         <a href="http://twitter.com/{{ author.twitter }}">{{ author.twitter }}</a> 
      </div>
      {% endfor %}
   </div>
</aside>
