<nav class="issues">
	<ul class="clearfix">
		<li class="active"><a href="http://thoughtworks.github.io/p2">Issue 01, June 2013</a>
		<!-- <li class="pull-right"><a href="#">Older Issues</a>-->
    <li class="pull-right">Page {{ model.page }} / 6</li>
	</ul>
</nav>
