<nav class="issues">
	<ul class="clearfix">
    <li class="active"><a href="{{model.issuelink}}">{{model.issue}}</a>
		<!-- <li class="pull-right"><a href="#">Older Issues</a>-->
    <li class="pull-right">Page {{ model.page }} / {{ model.pagetotal}} </li>
	</ul>
</nav>
