<nav class="issues">
	<ul class="clearfix">
		<li class="active"><a href="{% if mixture.url == "article" %}/index{% endif %}#">Issue 01, June 2013</a>
		<!-- <li class="pull-right"><a href="#">Older Issues</a>-->
	</ul>
</nav>
