<aside class="left-column clearfix">
	<nav class="container">
	    <ul>
	        <li {% if mixture.url == "index" %}class="active"{% endif %}><a href="/">Home</a>
	        <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/model">Model</a>
	        <li {% if mixture.url == "article" %}class="active"{% endif %}><a href="/article">Article</a>
	    </ul>
	</nav>
</aside>