<nav class="paginate">
  {% if model.prev %}
    <a href="{{ model.prev }}" class="prev">&#9664;</a>
  {% endif %}
  {% if model.next %}
    <a href="{{ model.next }}" class="next">&#9654;</a>
  {% endif %}
</nav>
