<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<title>Magazine | {{page.title}}</title>
{% if page.subtitle %}
<meta name="description" content="{{ page.subtitle }}">
{% endif %}
<link rel="shortcut icon" type="image/png" href="/p2/favicon.png" />
<link href="/p2/stylesheets/screen.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="alternate" type="application/rss+xml" title="P2 Magazine" href="http://distributedlife.github.io/p2/atom.xml"/>
<script src="http://modernizr.com/downloads/modernizr-2.5.3.js"></script>
<script src="/p2/assets/js/keymaster.min.js"></script>
</head>
